<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=960, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Syndicate</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="src/index.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="src/js/lib/vue@3.2.41/vue.global.prod.js"></script>
  <script src="src/js/lib/pixi@6.5.7/dev/pixi.js"></script>
</head>

<body>
  <div id="app">
    <div class="container" v-bind:class="{ hidden: gameRunning}">
      <form v-if="!user?.name" v-on:submit="registerName">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" v-model="name" maxlength="15">
        <input type="submit" value="Join">
      </form>
      <form v-if="!!user && user.name && !lobby" v-on:submit="joinLobby">
        <div>Name: {{ name }}</div>
        <label for="lobby">Lobby:</label>
        <input type="text" id="lobby" name="lobby" v-model="lobbyId">
        <input type="submit" value="Join">
        <input type="button" value="Create" @click="createLobby">
      </form>
      <input v-if="!!lobby" type="button" value="Start Game" @click="startGame">
      <div v-if="!!lobby">
        <h4>Lobby Id: {{ lobby.id.toUpperCase() }}</h4>
        <h4>Players:</h4>
        <div v-for="player in lobby.users" :key="player.id">
          {{ player.name }}
        </div>
      </div>
    </div>
    <canvas id="canvas" width="960" height="960" :class="{ hidden: !gameRunning }"></canvas>
  </div>
  <script type="module" src="src/js/index.js"></script>
</body>

</html>